<!doctype html>
<html lang="en" ng-app="BuyingListCheckOffApp">
	<head>
		<meta charset="utf-8">
		<script src="../../../../AngularJS/1.8.2/angular.min.js"></script>
		<script src="./angularApp.js"></script>
		<link rel="stylesheet" href="../../Module-1/Assignment/styleSheet.css">
		<title>Module 2 - Assignment: Shopping List Check Off App with AngularJS</title>
	</head>
	<body class="mainContainer">
		<h1 class="institution centerAlign">Johns Hopkins University</h1>
		<h2 class="course">Single Page Web Applications with AngularJS</h2>
		<ul>
			<li>
				<h3 class="module">Module 2</h3>
				<ul>
					<li>
						<h3 class="assignment">Assignment: Shopping List Check Off App with AngularJS</h3>
					</li>
				</ul>
			</li>
		</ul>
		<div class="centerAlign">
			<div class="appContainer buyingListContainer" ng-controller="BuyingListController as buyingList">
				<h4 class="listTitle centerAlign">To Buy:</h4>
				<ol class="listHeight">
					<li class="buyingItem" ng-repeat="item in buyingList.items">
						<div class="inlineTable">
							<span class="tableCell">Buy {{item.qty}}{{item.un}} of {{item.name}}</span>
							<span class="tableCell textAlignRight">
								<button class="buyItem" ng-click="buyingList.checkOffItem($index);">Bought</button>
							</span>
						</div>
					</li>
				</ol>
				<p class="msg" ng-hide="buyingList.checkBoughtQty();">Nothing Bought Yet!</p>
			</div>
			<div class="appContainer boughtListContainer" ng-controller="BoughtListController as boughtList">
				<h4 class="listTitle centerAlign">Already Bought:</h4>
				<ol class="listHeight">
					<li class="buyingItem" ng-repeat="item in boughtList.items">
						Bought {{item.qty}}{{item.un}} of {{item.name}}
					</li>
				</ol>
				<p class="msg" ng-show="boughtList.checkBuyingQty();">Everything is Bought!</p>
			</div>
		</div>
	</body>
</html>
