* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

section.mainHeading {
	padding: 0 20px;
}

h1 {
	font-size: 200%;
}
h2 {
	font-size: 183.33%;
}
h3 {
	font-size: 166.66%;
}
h4 {
	font-size: 150%;
}
h5 {
	font-size: 133.33%;
	margin: inherit;
}
h6 {
	font-size: 116.66%;
	margin: inherit;
}
.floatLeft {
	float: left;
}
.paddingBox {
	padding: 10px;
}
.articleBox {
	border: saddlebrown solid 1px;
	border-radius: 20px;
	height: 100%;
}
.articleHeading {
	float: right;
    border-bottom: saddlebrown solid 1px;
    border-left: saddlebrown solid 1px;
    border-radius: 0 20px;
    position: relative;
    padding: 20px;
}
.articleParagraph {
	clear: right;
    padding: 20px;
    margin: 0;
}
#menuHeading {
	border: saddlebrown solid 1px;
	border-radius: 20px;
	margin: 0 20px;
	padding: 20px;
}
#menuItems {
	display: flex;
	flex-wrap: wrap;
}
#chicken {
	background-color: #df0000;
	color: wheat;
}
#beef {
	background-color: seagreen;
	color: wheat;
}
#sushi {
	background-color: steelblue;
	color: wheat;
}

@media (min-width: 992px) {
	.col-lg-04 {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991.9px) {
	.col-md-06 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767.9px) {
	.col-sm-12 {
		width: 100%;
	}
}
