<!doctype html>
<html ng-app="msgApp">
	<head>
		<meta charset="utf-8">
		<script src="../../../../AngularJS/1.8.2/angular.min.js"></script>
		<script src="./angularApp.js"></script>
		<title>Expressions and Interpolation</title>
	</head>
	<body>
		<h1>Expressions and Interpolation</h1>
		<div ng-controller="msgAppController">
			<div>
				<h2>Part 1</h2>
				<p>Message is: {{message}}</p>
				<p>The previous message was interpolated from from the <em>message</em> property defined in the <em>$scope</em> service of AngularJS.</p>
				<p>This next one is going to be invoked from a function call: {{displayMessage()}}</p>
			</div>
			<div>
				<h2>Part 2</h2>
				<p>What would be your favorite landscape?</p>
				<p><input type="radio" id="beach" ng-model="landscape.value" value="beach" ng-change="selectFavoriteLandscape();"><label for="beach">Beach</label></p>
				<p><input type="radio" id="mountain" ng-model="landscape.value" value="mountain" ng-change="selectFavoriteLandscape();"><label for="mountain">Mountain</label></p>
				<a title="{{landscape.a.title}}" href="{{landscape.a.href}}"><img width="100%" alt="{{landscape.img.alt}}" ng-src="{{landscape.img.src}}"></img></a>
			</div>
		</div>
	</body>
</html>
